<ion-header>
  <ion-toolbar color="success">
    <ion-title>Inicio</ion-title>
  </ion-toolbar>
</ion-header>

<!--
  style="position: static; visibility: visible; width: 300px; height: 500px; display: block; flex-grow: 1;"
-->

<ion-content>

    <img src="./assets/img/Twitter.png"/>

  
  <ion-tabs>
    <ion-tab-bar slot="bottom" color="dark" style="text-decoration: none;">
      <ion-tab-button [routerLink]="['/inicio-conductor']" tab="schedule">
        <ion-icon name="home"></ion-icon>
        <ion-label >Inicio</ion-label>
      </ion-tab-button>
  
      <ion-tab-button [routerLink]="['/mapa-conductor']" tab="map">
        <ion-icon name="map"></ion-icon>
        <ion-label>Mapa</ion-label>
      </ion-tab-button>

      <ion-tab-button [routerLink]="['/perfil-conductor']" tab="speakers">
        <ion-icon name="person-circle"></ion-icon>
        <ion-label>Cuenta</ion-label>
      </ion-tab-button>
    </ion-tab-bar>
  </ion-tabs>

</ion-content>

