<ion-header>
  <ion-toolbar color="success">
    <ion-title>Viajes Disponible</ion-title>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-accordion-group>
    <ion-accordion value="first">
      <ion-item slot="header">
        <ion-label>Matias Peñaloza</ion-label>
      </ion-item>
      <div class="ion-padding" slot="content">
        Desde : Mall Plaza Norte<br>
        Hasta : Mall Plaza de Quilicura<br>
        Vehiculo : 4 puertas<br>
        Patente : YXS13512<br>
        Costo : $5.000<br>
        <ion-button (click)="presentAlert()" [routerLink]="['/escanearqr']">Tomar Viaje</ion-button>
      </div>
    </ion-accordion>
    <ion-accordion value="second">
      <ion-item slot="header">
        <ion-label>David Carvajal</ion-label>
      </ion-item>
      <div class="ion-padding" slot="content">
        Desde : Mall Plaza Norte<br>
        Hasta : Lampa<br>
        Vehiculo : 2 puertas<br>
        Patente : XAW1QA<br>
        Costo : $6.000<br>
        <ion-button (click)="presentAlert()"[routerLink]="['/escanearqr']">Tomar Viaje</ion-button>
      </div>
    </ion-accordion>
    <ion-accordion value="third">
      <ion-item slot="header">
        <ion-label>Franccesco Artuso</ion-label>
      </ion-item>
      <div class="ion-padding" slot="content">
        Desde : Mall Plaza Norte<br>
        Hasta : Colina<br>
        Vehiculo : 4 puertas<br>
        Patente : PFS1YA11<br>
        Costo : $6.000<br>
        <ion-button (click)="presentAlert()"[routerLink]="['/escanearqr']">Tomar Viaje</ion-button>
      </div>
    </ion-accordion>
  </ion-accordion-group>
</ion-content>
