<!-- <ion-app>
  <ion-menu-toggle auto-hide="false">
  <ion-menu side="start" menuId="first" contentId="main">
    <ion-header>
      <ion-toolbar color="success">
          <ion-title>Menu</ion-title>
      </ion-toolbar>
    </ion-header>
    <ion-content>
      <ion-list>
          <div *ngIf="idrol === 2"> 
            <ion-item [routerLink]="'/inicio-cliente'">INICIO</ion-item>
            <ion-item [routerLink]="'/mapa-cliente'">MAPA</ion-item>
            <ion-item [routerLink]="'/modificar-cliente'">PERFIL</ion-item>
            <ion-item [routerLink]="'/viajes-disponible">VIAJES</ion-item>
          </div>
          <div *ngIf="idrol === 1"> 
            <ion-item [routerLink]="'/inicio-conductor'">INICIO</ion-item>
            <ion-item [routerLink]="'/mapa-conductor'">MAPA</ion-item>
            <ion-item [routerLink]="'/modificar-conductor'">PERFIL</ion-item>
            <ion-item [routerLink]="'/solicitud-viaje">VIAJES</ion-item>

          </div>
      </ion-list>
    </ion-content>
  </ion-menu>
</ion-menu-toggle>
</ion-app> -->





<ion-app>
  <ion-menu side="start" menuId="custom" contentId="main" class="background">
  <ion-header>
    <ion-toolbar color="dark">
      <ion-title>Menu</ion-title>
    </ion-toolbar color="success">
  </ion-header>
  <ion-content>
    <ion-list>
    <ion-menu-toggle>
      <ion-item (click)="inicio()"><ion-icon name="home-sharp"></ion-icon> Ir al Inicio</ion-item>
      <ion-item (click)="mapa()"><ion-icon name="home-sharp"></ion-icon> Ir al Mapa</ion-item>
      <ion-item (click)="perfil()"><ion-icon name="home-sharp"></ion-icon> Ir al Perfil</ion-item>
      <ion-button color="dark" (click)="salir()"><ion-icon name="exit-sharp"></ion-icon> Cerrar Sesion</ion-button>
    </ion-menu-toggle>


    </ion-list>
  </ion-content>
</ion-menu>
  <ion-router-outlet id="main"></ion-router-outlet>
</ion-app> 