<ion-header>
  <ion-toolbar color="success">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="inicio-conductor"></ion-back-button>
    </ion-buttons>
    <ion-title>Modificar</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <!-- fab placed to the top end -->
  <ion-fab vertical="top" horizontal="end" slot="fixed">
    <ion-fab-button (click)="AbrirCamara()">
      <mat-icon>create</mat-icon>
    </ion-fab-button>
  </ion-fab>

  <center>
    <ion-avatar slot="start">
      <img alt=" " [src]="fotocon" *ngIf="fotocon" />
    </ion-avatar>
  </center>


  <ion-item>
    <ion-label>NOMBRE: {{ nombreextras }}</ion-label>
    <ion-input [(ngModel)]="nombremod"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label>CLAVE: {{ claveextras }}</ion-label><br>
    <ion-input [(ngModel)]="clavemod" placehorled="contranueva"></ion-input><br>
    <ion-input [(ngModel)]="clavemod2" placehorled="repita contra"></ion-input><br>
  </ion-item>

  <center>
    <ion-button shape="round" (click)="modificar()">modificar</ion-button>
  </center>
  <center>
    <ion-button shape="round" (click)="modificarclave()">modificar clave</ion-button>
  </center>

</ion-content>