<ion-header>
  <ion-toolbar color="success">
    <ion-title>Ver Auto</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-list *ngFor="let x of Usuario">
    <ion-list *ngIf="x.idusuario == idextras">

      <ion-item>
        <ion-label>{{ x.patente }}</ion-label>
      </ion-item>
      <ion-item>
        <ion-label>{{ x.marca }}</ion-label>
      </ion-item>
      <ion-item>
        <ion-label>{{ x.idusuario }}</ion-label>
      </ion-item>
    </ion-list>
  </ion-list>

  <ion-list *ngFor="let x of Auto">
    <ion-list *ngIf="x.fk_idusuario == idextras">

      <ion-item>
        <ion-label>{{ x.patente }}</ion-label>
      </ion-item>
      <ion-item>
        <ion-label>{{ x.marca }}</ion-label>
      </ion-item>
      <ion-item>
        <ion-label>{{ x.idusuario }}</ion-label>
      </ion-item>
    </ion-list>
  </ion-list>

</ion-content>
