<ion-header>
  <ion-toolbar color="success">
    <ion-title>Inicio</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <img style="
  border-bottom: 4px;
  border-color: black;
  border-style: solid" src="./assets/img/Twitter.png"/>

  <ion-button [routerLink]="['/']" style="margin-top: 20px;"color="success"expand="full">Historial de Viajes</ion-button>

  <ion-button [routerLink]="['/pago-cliente']" style="margin-top: 20px;"color="success"expand="full">Solicitudes de Viajes</ion-button>

</ion-content>
